<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Control de Asistencia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Bienvenido {{ username }}</h1>

    <button id="start-scan">Escanear QR</button>

    {% if is_admin %}
    <a href="/asistencias" class="btn">Ver registros de asistencias</a>
    {% endif %}

    <a href="/logout" class="btn">Cerrar sesión</a>

    <video id="preview" width="100%" style="display:none;"></video>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
