<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Attendance App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Registro de Asistencia</h1>
    <div>
        <label for="id_usuario">ID Usuario:</label>
        <input type="text" id="id_usuario" placeholder="Ingrese su ID">
    </div>
    <div>
        <button onclick="iniciarEscaneo()">Escanear QR</button>
    </div>

    <video id="preview" width="300" height="200" autoplay muted playsinline></video>

    <h2>Registros de Asistencia</h2>
    <ul id="lista-asistencias"></ul>

    <script src="/static/script.js"></script>
</body>
</html>